body {
  background: #007bff;

}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google:hover {
  background-color: #ea4335;
}

.btn-facebook:hover {

  background-color: #3b5998;
}
